@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="sv">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav>
        <h1>Navigation</h1>
    </nav>
    @RenderBody()
    @RenderSection("Scripts", false)

    <link href="~/wwwroot/css/site.css" rel="stylesheet" />
</body>
</html>