@model GameListPageViewModel
@using UmbracoQuiz.Core.Models
@using UmbracoQuiz.Core.Controllers
@{
    Layout = "master.cshtml";
}

@Html.Partial("_createRoomModal", Model.CreateRoomModel)

<div class="content-wrapper">
    <button id="createGame" data-open-modal="createRoomModal">Skapa rum +</button>

    @foreach (var quizRoom in Model.Content.Children<GameRoomPage>())
    {
        using (Html.BeginUmbracoForm<GameRoomController>(nameof(GameRoomController.EnterRoom), FormMethod.Get))
        {
            <fieldset>
                <h3>@quizRoom.Name</h3>
                <input type="hidden" name="nodeId" value="@quizRoom.Id" />
                <input type="text" placeholder="rumkod" name="roomCode" />
                <button type="submit">Anslut</button>
            </fieldset>
        }
    }
</div>

@section Styles{
    <link href="~/wwwroot/css/gameroomlistpage.site.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/Components/modal.js"></script>
}