@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.GameListPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@using UmbracoQuiz.Core.Controllers

@{
    Layout = "master.cshtml";
}

<h1>@Model.Header</h1>

<br />

@foreach (var game in Model.Children<GameRoomPage>())
{
    <h2>@game.Name</h2>
    using (Html.BeginUmbracoForm<GameRoomController>("EnterRoom", FormMethod.Get))
    {
        <input type="hidden" name="nodeId" id="nodeId" value="@game.Id" />
        <input name="roomCode" id="roomCode" type="text" placeholder="Ange rumkod" maxlength="4" />
        @Html.ValidationMessage(game.Id.ToString())
        <button type="submit">Anslut</button>
    }
    <hr />
}

<input id="klicka" value="klick" type="button" />

@section Scripts{
    <script src="~/Umbraco/lib/signalr/jquery.signalR.js"></script>
    <script src="/signalr/hubs"></script>
    <script>
        var quiz = $.connection.quizHub;

        quiz.client.addNewMessageToPage = function (name, message) {
            // Add the message to the page.
            alert(name + message);
        };

        $.connection.hub.start().done(function () {
            var nodeId = $('#nodeIdInput').val();
            quiz.server.connectedToRoom(nodeId);


            $('#klicka').click(function () {
                quiz.server.send('#displayname', '#message');
            });

        });

    </script>
}