@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.GameRoomPage>
@using ContentModels = Umbraco.Web.PublishedModels;

@{
    Layout = "master.cshtml";
}
<input id="nodeIdInput" type="hidden" value="@Model.Id" />
<div id="quiz-room__container">
    @*@Html.Partial("_roomLobby")*@
</div>

@section Styles{
    <link href="~/wwwroot/css/gameroompage.site.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Umbraco/lib/signalr/jquery.signalR.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/Components/quizRoom.js"></script>
}