@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.StartPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

<button>Testar knapp testar lite mer och testar test</button>

@section Styles{
    <link href="~/wwwroot/css/startpage.site.css" rel="stylesheet" />
}